In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('BriefLogistique.csv')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

##  Faire la connexion Msql_ python

In [7]:

import pymysql
import sqlalchemy
from sqlalchemy import create_engine
engine= create_engine ('mysql+pymysql://root@localhost/regLogistique')

In [9]:

data.to_sql('Phone', con=engine, if_exists='append')

Cette instruction :

    data.to_sql('Phone', con=engine, if_exists='append')

a crée automatiquement cette la table Phone avec  les champs suivants :

mysql> DESCRIBE Phone;

+-----------------+--------+------+-----+---------+-------+
| Field           | Type   | Null | Key | Default | Extra |
+-----------------+--------+------+-----+---------+-------+
| index           | bigint | YES  | MUL | NULL    |       |
| User ID         | bigint | YES  |     | NULL    |       |
| Gender          | text   | YES  |     | NULL    |       |
| Age             | bigint | YES  |     | NULL    |       |
| EstimatedSalary | bigint | YES  |     | NULL    |       |
| Purchased       | bigint | YES  |     | NULL    |       |
+-----------------+--------+------+-----+---------+-------+
6 rows in set (0.00 sec)


J'ai crée manuellement avec le terminal une table :

mysql> USE regLogistique;

Database changed

mysql> CREATE TABLE purchased_Phone (
    ->     User INT NOT NULL,
    ->     Gender VARCHAR (8),
    ->     Age INT NOT NULL,
    ->     EstimatedSalary INT NOT NULL,
    ->     Purchased INT NOT NULL
    -> );
Query OK, 0 rows affected (0.10 sec)


mysql> DESCRIBE purchased_Phone;
+-----------------+------------+------+-----+---------+-------+
| Field           | Type       | Null | Key | Default | Extra |
+-----------------+------------+------+-----+---------+-------+
| User            | int        | NO   |     | NULL    |       |
| Gender          | varchar(8) | YES  |     | NULL    |       |
| Age             | int        | NO   |     | NULL    |       |
| EstimatedSalary | int        | NO   |     | NULL    |       |
| Purchased       | int        | NO   |     | NULL    |       |
+-----------------+------------+------+-----+---------+-------+
5 rows in set (0.00 sec)

Lors de l'utilisation de cette dernière, il n' a pas pu faire la connexion car il manquait le champ index. 
Donc, dans l'avenir je lui ferrai confiance et je ne'aurai à créer les tables puisqu'il le s'enchargera automatiqument.

In [10]:
data2 = pd.read_sql_table('Phone', con=engine)

In [11]:
data2

     index   User ID  Gender  Age  EstimatedSalary  Purchased
0        0  15624510    Male   19            19000          0
1        1  15810944    Male   35            20000          0
2        2  15668575  Female   26            43000          0
3        3  15603246  Female   27            57000          0
4        4  15804002    Male   19            76000          0
..     ...       ...     ...  ...              ...        ...
395    395  15691863  Female   46            41000          1
396    396  15706071    Male   51            23000          1
397    397  15654296  Female   50            20000          1
398    398  15755018    Male   36            33000          0
399    399  15594041  Female   49            36000          1

[400 rows x 6 columns]

In [12]:
# MongoDB
import pymongo

##  Faire la connexion mongodb _ python

In [13]:
from pymongo import MongoClient
import pprint

client = MongoClient()
db = client.SJob

Lancer mongodb sous docker

    sudo docker exec -it mongodb mongo
    
Définir une base de données

    use PhoneMongo
    
Définir une collection myCollection
     
     db.createCollection("Phone")
 
Cette commande donne le résultat suivant :

    use PhoneMongo
    switched to db PhoneMongo
    > db.createCollection("Phone")
    { "ok" : 1 }
    
Une fois la collection Phone créée, la base PhoneMongo apprait dans la liste des bases

    > show dbs
    PhoneMongo   0.000GB
    SJob         0.000GB
    admin        0.000GB
    collections  0.000GB
    config       0.000GB
    local        0.000GB